JWT_SECRET=jwt_secret
COOKIE=cookie
AI_API_KEY=ai_api_key
BASE_AI_URL=ai_base_url
AI_MODEL=ai_model
TELEGRAM_BOT_TOKEN=telegram_bot_token
DB_USERNAME=db_username
DB_PASSWORD=password
DB_URL=db_url
adminEmail=admin_email
adminPassword=Adminpassword
adminUsername=admin_username
phoneNumber=+910000000000
